body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin: 30px 0;
	font-size: 20px;
}

.thumb {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}

.hidden {
	display: none;
}